/*
 * This file is part of Big Eyes Solution EventApp.
 *
 *  Foobar is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  Foobar is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
 */


section { height: 100% }

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
}

#mainlogo-bg {
    height: 55%;
    background: rgb(255,194,105);
    background: -moz-radial-gradient(center, ellipse cover,  rgb(255,194,105) 30%, rgb(255,155,12) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(30%,rgb(255,194,105)), color-stop(100%,rgb(255,155,12)));
    background: -webkit-radial-gradient(center, ellipse cover,  rgb(255,194,105) 30%,rgb(255,155,12) 100%);
    background: -o-radial-gradient(center, ellipse cover,  rgb(255,194,105) 30%,rgb(255,155,12) 100%);
    background: -ms-radial-gradient(center, ellipse cover,  rgb(255,194,105) 30%,rgb(255,155,12) 100%);
    background: radial-gradient(ellipse at center,  rgb(255,194,105) 30%,rgb(255,155,12) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc269', endColorstr='#ff9b0c',GradientType=1 );
}

.ui-header {
    background: #FF902E !important;
}

.ui-header h1 {
    background-image: url('./../img/header-logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#mainlogo {
    background-image: url('./../img/flisol.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%
}

.be-main-menu-grid {
    height: 45%;
    color: #3B3A3F !important;
}

.be-main-menu-grid .ui-grid-a { height: 50%; background: red }

.be-main-menu-grid .ui-block-a, .be-main-menu-grid .ui-block-b, .be-main-menu-grid .ui-block-c, .be-main-menu-grid .ui-btn { height: 100% !important; }

.be-main-menu-grid .ui-btn { border-radius: 0 !important; margin: 0 !important}

.be-tec-logo { width: 90%; }

.be-ui-main-btn-custom {
    background: #E56937 !important;
    color: #EBD5AF !important;
    border-color: #D46337 !important;
    text-shadow: none !important;
}

.center-vertically {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.custom-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
margin-bottom: 1rem;
}

.ui-header .ui-btn {
    margin-top: 0 !important;
    background: #E37E25 !important;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    text-shadow: none !important;
    color: #ffffff !important;
    font-size: 1.01rem !important;
}

.ui-header {
    height: 3rem;
}

.ui-header .ui-title {
    height: 1.5rem !important;
}

.ui-content {
    margin-top: 3rem;
}

.ui-content p { text-align: justify; }

.ui-btn {
    font-size: 1rem !important;
}

#speakers {
    font-size: 0.8rem;
    font-style: italic;
}

#title {
    font-size: 1rem;
}